<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Edit Your Data</h1>
        <form action="/updateData" method="post" >
            <input type="text" hidden value="<%=data.id%>" name="id" placeholder="Enter ID..">
            <input type="text"  name="name" value="<%=data.name%>" placeholder="Enter name..">
            <input type="text"  name="subject" value="<%=data.subject%>" placeholder="Enter subject..">
            <input type="text" name="city" value="<%=data.city%>" placeholder="Enter city" >
            <input type="text" placeholder="Enter Image : " value="<%=data.img%>" name="img">

            <button type="submit">Update Data</button>
        </form>
    </center>
</body>
</html>